*{
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.title{
    font-size: 100px;
    text-align: center;
    color: #C0392B;
}
.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 80%; */
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.movies-items {
    margin-bottom: 20px;
}
.movies-box{
    min-height: 520px;
    padding: 20px;
    background-image: linear-gradient(to right top, #171e20, #1a282f, 
    #1f3341, #2a3c52, #3c4463);
    border-radius: 10px;
}
.movies-item:hover{
    transform: scale(1.1);
}
.movies-title {
    margin: 20px 0px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movies-year,
.movies-rate,
.movies-time {
    display: flex;
    margin: 0px;
    font-size: 15px;
    color: #fff;
}
.movies-year::before,
.movies-rate::before,
.movies-time::before{
    /* display: block; */
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background-image: url("./img/calendar.png");
    background-size: 20px;
    content: "";
}
.movies-img{
    width: 250px;
    height: 150px;
}
.movies-rate::before{
    background-image: url("./img/star.png");
}
.movies-time::before{
    background-image: url("./img/clock.png");
}
.movies-categories{
    font-size: 20px;
    color: #fff;
}
.movies-categories-span {
    margin-left: 10px;
    color: #717D7E;
}
.modal-rating,
.modal-year,
.modal-runtime{
    color: #000 !important;
}

/* INPUT STYLE */
.search-input{
    width: 200px;
}

/* BOOKMARK */
.bookmark-list{
    position: absolute;
    width: 240px;
    padding: 20px;
}

/* CANVAS */
.canvas-box{
    width: 182px;
}
.mark{
    text-transform: capitalize;
}